{
    "wallets": [
        {
            "mnemonics": "12 seed words",
            "indexes": [
                0,
                1,
                2
            ]
        },
        {
            "mnemonics": "another 12 seed words",
            "indexes": [
                0,
                1
            ]
        }
    ],
    "networks": [
        "../networks/cosmoshub.json",
        "../networks/evmos.json",
        "../networks/juno.json",
        "../networks/osmosis.json",
        "../networks/regen.json"
    ]
}